<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.clawd.AGENT_NAME</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/$USER/clawd/AGENT_DIR/script.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/$USER/clawd/AGENT_DIR</string>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>RunAtLoad</key>
    <false/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>GEMINI_API_KEY</key>
        <string>$GEMINI_API_KEY</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/$USER/clawd/AGENT_DIR/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/$USER/clawd/AGENT_DIR/stderr.log</string>
</dict>
</plist>
